<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QLHKConnectionString" connectionString="Data Source=DESKTOP-F1B7BR9\SQLEXPRESS;Initial Catalog=QLHK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QLHKConnectionString1" connectionString="Data Source=DESKTOP-F1B7BR9\SQLEXPRESS;Initial Catalog=QLHK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QLHKConnectionString2" connectionString="Data Source=DESKTOP-F1B7BR9\SQLEXPRESS;Initial Catalog=QLHK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>